.search-bar-inline{
    display: none;
}

.btn2{
    border-radius: 15px;
}



@media only screen and (max-width:600px){
    .search-bar{
        display: none;
    }
    .search-bar-inline{
        display: inline-flex;
    }
}